<!-- about.hbs -->
<div class="container text-center">
    <h1 class="mt-5">About Me</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNvZGV8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="Iago Furtado image" class="img-fluid rounded-circle mt-2">
        </div>
        <div class="col-md-6">
            <p>
            I am a passionate web developer with a diverse skill set, including proficiency in programming languages such as Java, C#, Swift, and Python. My experience extends to SQL database systems, where I excel in database design, data manipulation, query optimization, functions, and stored procedures.
            </p>
            <p>
            What sets me apart is my strong foundation in database management, making me a valuable asset for projects that require in-depth data profiling and structured querying. My expertise isn't limited to coding; I'm also well-versed in Brazilian Portuguese, English, and Spanish, allowing me to communicate effectively across language barriers.
            </p>
            <p>
            I'm proactive, a quick learner, and comfortable working both independently and as part of a collaborative team. When I'm not immersed in code, I enjoy exploring the latest trends in cloud computing and DevOps practices for automation and collaboration. My proficiency in Linux and system administration further complements my technical skills.
            </p>
            <p>
            I'm excited to bring my technical prowess and collaborative spirit to new challenges and help create innovative solutions in the world of web development.
            </p>
        </div>
    </div>
</div>
