<!-- contact.hbs -->
<div class="container text-center">
  <h1>Contact Me</h1>
  <p>Feel free to get in touch with me through the following contact details:</p>
  <ul>
    <li>Email: example@email.com</li>
    <li>Phone: +1 (123) 456-7890</li>
  </ul>
  <p>You can also connect with me on LinkedIn and GitHub.</p>
</div>