<!-- index.hbs -->
<div class="container text-center mt-5">

    <h1 class="display-4 font-weight-bold">Iago Furtado</h1>
    

    <div class="bg-light p-3 rounded mt-4">
        <p class="text-muted font-italic">Web Developer | Cloud Enthusiast | Problem Solver</p>
    </div>

    <div class="bg-light p-3 rounded mt-4 mx-auto" style="max-width: 600px;">
        <p class="mt-2">
            I'm a passionate web developer with a strong foundation in various programming languages and a knack for problem-solving. My expertise extends to cloud computing and DevOps practices, making me a valuable asset for projects that require innovative solutions and automation.
        </p>
    </div>
</div>

