<div class="container text-center">
    <h1 class="mt-5">Projects</h1>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="project">
                <img class="project-img" src="https://images.klipfolio.com/website/public/5a275fee-d42b-4f31-91f6-8148d4d729af/executive%20dashboard.png" alt="Project 1 Image">
                <p class="h4">Data Visualization Dashboard</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="project">
                <img class="project-img" src="https://blog.hubspot.com/hs-fs/hubfs/ecommerce%20marketing.jpg?width=595&height=400&name=ecommerce%20marketing.jpg" alt="Project 2 Image">
                <p class="h4">Serverless E-commerce Website</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="project">
                <img class="project-img" src="https://www.folderit.com/wp-content/uploads/2017/11/storing-documents-in-the-cloud.jpg" alt="Project 3 Image">
                <p class="h4">Cloud Document Management</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="project">
                <img class="project-img" src="https://assets-global.website-files.com/6130fa1501794e37c21867cf/619193fc30687d2741babbdd_61329ee261bb4c80dfd062d6_blog-header-pipeline.png" alt="Project 4 Image">
                <p class="h4">Automated Data Pipeline</p>
            </div>
        </div>
    </div>
</div>
